#wordlistCont {
  position: absolute;
  top: 0;
  right: 0;
  width: 20vw;
  height: 100vh;
  background-color: yellow;
}

h2 {
  font-family: sans-serif;
  font-size: 1.3em;
}

li {
  font-family: sans-serif;
}